<!DOCTYPE html>
{% load static %}
{% load crispy_forms_field %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clients</title>
</head>
<body>
    <h1>Client List</h1>
    <ul>
        {% for client in clients %}
            <li>{{client.name}}</li>
            <a href="{% url 'update_client' pk=client.pk %}">Edit</a>
            <a href="{% url 'delete_client' pk=client.pk %}">Delete</a>
        {% endfor %}
    </ul>
</body>
</html>